@model IEnumerable<AppDilleto.Models.Productos>
@{
    ViewData["Title"] = "Home Page";
}
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<div class="card text-center" >
  <div class="card-header" >
  </div>
  <div class="card-body" style="background: #FADBD8 ;">
    <h5 class="card-title"><h2 style="-webkit-text-stroke: 2px  black;color: #FDFEFE; text-align: center;  font-size: 50px;"> Productos </h2></h5>
    <p class="card-text">
    </p>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>


<table class="table table-hover" style="margin-top: 3%;">
    <thead style="background: #F7819F; color:#FFFFFF">
        <tr >
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagenName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagenName)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
              <a asp-action="Edit" asp-route-id="@item.ID"class="btn btn-light" style="width: 22%;background: #F7819F; color:#FFFFFF; text-align: center;">Editar</a>
                <a asp-action="Details" asp-route-id="@item.ID"class="btn btn-light" style="width: 22%;background: #F7819F; color:#FFFFFF;text-align: center;">Detalles</a>
                <a asp-action="Delete" asp-route-id="@item.ID"class="btn btn-light" style="width: 22%;background: #F7819F; color:#FFFFFF;text-align: center;">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div style="margin-top: 5%; text-align: center;">
<p>
    <a class="btn btn-light"  style="background: #F7819F; color:#FFFFFF" asp-action="Create" >Crear nuevo Producto</a>
</p>
</div>
@if ((String)TempData["prueba"] == "prueba01")
{
    <input value="hola" id="hola01" type="hidden">
}

@if ((String)TempData["prueba02"] == "prueba02") 
{
    <input value="hola" id="prueba02" type="hidden">
}
@if ((String)TempData["prueba03"] == "prueba03") 
{
    <input value="hola" id="prueba03" type="hidden">
}

    <script>
        
        var x = document.getElementById('hola01').value;

        if(x == "hola") {
        
            Swal.fire(
                'Registro exitoso',
                'El Producto ha sido registrado exitosamente :)',
                'success'
            )
  
        }

       

    </script>

   <script>
        
        var y = document.getElementById('prueba02').value;

        if(y == "hola") {

            Swal.fire(
                'Editado correctamente',
                'El Producto se ha editado correctamente',
                'success'
            )
        }
   </script> 
    <script>
        
        var y = document.getElementById('prueba03').value;

        if(y == "hola") {

            Swal.fire(
                'Eliminacion  correcta',
                'El Producto se ha Eliminado correctamente',
                'success'
            )
        }
   </script> 
  
