@model IEnumerable<AppDilleto.Models.Prod>

@{
    ViewData["Title"] = "Prod";
}

<div class="card text-center" >
  <div class="card-header" >
  </div>
  <div class="card-body" style="background: #FADBD8 ;">
    <h5 class="card-title"><h2 style="-webkit-text-stroke: 2px  black;color: #FDFEFE; text-align: center;  font-size: 50px;"> Añadir Accesorios</h2></h5>
    <p class="card-text">
    </p>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>



<table class="table table-hover" style="margin-top: 3%;">
    <thead style="background: #F7819F; color:#FFFFFF">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagenName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody >
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagenName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID"class="btn btn-light" style="width: 19%;background: #F7819F; color:#FFFFFF; text-align: center;">Editar</a>
                <a asp-action="Details" asp-route-id="@item.ID"class="btn btn-light" style="width: 19%;background: #F7819F; color:#FFFFFF;text-align: center;">Detalles</a>
                <a asp-action="Delete" asp-route-id="@item.ID"class="btn btn-light" style="width: 19%;background: #F7819F; color:#FFFFFF;text-align: center;">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
  <div style="margin-top: 5%; text-align: left;">
<p>
    <a class="btn btn-light"  style="background: #F7819F; color:#FFFFFF" asp-action="Create" >Crear nuevo Contacto</a>
</p>
</div>
