@model IEnumerable<AppDilleto.Models.Prod>


<div class="card text-center" >
  <div class="card-header" >
  </div>
  <div class="card-body" style="background: #FADBD8 ;">
    <h5 class="card-title"><h2 style="-webkit-text-stroke: 2px  black;color: #FDFEFE; text-align: center;  font-size: 50px;"> Accesorios </h2></h5>
    <p class="card-text">
    </p>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>

  <div class="container">
    <h1>@ViewData["Message"]</h1>
    <div class="row">
      <div class="col">
        <div id="products" class="mb-3">
          <div class="row">
            @foreach (var item in Model) {
            <div class="col-sm-4">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="card-img-actions">
                    <img class="img-responsive" width="100" height="150"
                       src="/img/@item.ImagenName" alt="@item.ImagenName"  />
                  </div>
                </div>
                <div class="card-body">
                  <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                  <p class="card-text">S/. @Html.DisplayFor(modelItem => item.Price)</p>
                  <a class="btn btn-dark" asp-action="Add" asp-route-id="@item.ID">Añadir al carrito</a>
                </div>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>